---

---

<section id={"experience"} class="experience">
  <div class="experienceWrapper wrapper">Experience</div>
</section>

<style>
  .experience {
    max-width: 1440px;
    margin: auto;
    color: #fff3e4;
    background-color: #000000;
  }

  .experienceWrapper {
    max-width: 1300px;
    height: 700px;
  }
</style>
