---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
import SocialMedia from "./SocialMedia.astro";
---

<footer class="footer">
  <div class="footerWrapper wrapper">
    <Logo />
    <div class="footerContent">
      <div class="contactsBar">
        <div class="phone">
          <img src="/phone.svg" alt="phone" />
          <span>+375 (29) 670-91-48</span>
        </div>
        <div class="email">
          <img src="/opened-email.svg" alt="email" />
          <span>valid_@tut.by</span>
        </div>
        <div class="socialMedia">
          <SocialMedia />
        </div>
      </div>

      <Navigation direction="column" />
    </div>
  </div>
</footer>

<style>
  .footer {
    max-width: 1440px;
    margin: auto;
    position: relative;
    background-color: #181823;
  }

  .footerWrapper {
    max-width: 1300px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .contactsBar {
    display: flex;
    flex-direction: column;
  }

  .phone,
  .email {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    img {
      width: 20px;
    }
    span {
      padding-left: 20px;
    }
  }

  .socialMedia {
    padding-top: 20px;
  }

  .socials {
    display: flex;
  }

  .socialsLink {
    padding-right: 20px;
    img {
      width: 30px;
    }
  }
</style>
