---

---

<footer class="footer">
  <div class="footerWrapper wrapper">
    <div class="logo">
      <a class="logoLink" href="/">
        <img class="logoImg" src="/MyLogo.png" alt="logo" />
      </a>
    </div>
    <div class="footerContent">
      <div class="contactsBar">
        <div class="phone">
          <img src="/phone.svg" alt="phone" />
          <span>+375 (29) 670-91-48</span>
        </div>
        <div class="email">
          <img src="/opened-email.svg" alt="email" />
          <span>valid_@tut.by</span>
        </div>
        <div class="socialMedia">
          <ul class="socials">
            <li>
              <a
                class="socialsLink"
                href="https://t.me/sergeyvalid"
                target="_blank"
              >
                <img src="/telegram_icon.png" alt="telegram" />
              </a>
            </li>
            <li>
              <a
                class="socialsLink"
                href="https://discordapp.com/users/671437718298951700/"
                target="_blank"
              >
                <img src="/discord_icon.png" alt="discord" />
              </a>
            </li>
            <li>
              <a
                class="socialsLink"
                href="https://www.linkedin.com/in/sergey-parshutich-7bb796295/"
                target="_blank"
              >
                <img src="/linkedin_icon.png" alt="linkedin" />
              </a>
            </li>
            <li>
              <a
                class="socialsLink"
                href="https://vk.com/id368032878"
                target="_blank"
              >
                <img src={"/vk_icon.png"} alt="vk" />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <nav class="navigation">
        <ul class="navUl">
          <li class="navLink">
            <a href="#experience">Рабочий опыт</a>
          </li>
          <li class="navLink">
            <a href="#myWorks">Мои проекты</a>
          </li>
          <li class="navLink">
            <a href="#contact">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

<style>
  .footer {
    max-width: 1440px;
    margin: auto;
    position: relative;
    background-color: #181823;
  }

  .footerWrapper {
    max-width: 1300px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  .logo {
  }
  .logoLink {
  }
  .logoImg {
    height: 60px;
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .contactsBar {
    display: flex;
    flex-direction: column;
  }

  .phone,
  .email {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    img {
      width: 20px;
    }
    span {
      padding-left: 20px;
    }
  }

  .socialMedia {
    padding-top: 20px;
  }

  .socials {
    display: flex;
  }

  .socialsLink {
    padding-right: 20px;
    img {
      width: 30px;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .navUl {
    display: flex;
    flex-direction: column;
  }

  .navLink {
    padding: 16px 24px;
  }
</style>
