---
import { Image } from "astro:assets";
import { contact } from "../content/contacts";
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
import SocialMedia from "./SocialMedia.astro";
---

<footer id="contact" class="footer">
  <div class="footerWrapper wrapper">
    <Logo />
    <div class="footerContent">
      <div class="contactsBar">
        <div class="phone">
          <svg width="20px" height="20px">
            <use xlink:href="sprite.svg#phone"></use>
          </svg>
          <span>{contact.phone}</span>
        </div>
        <div class="email">
          <svg width="20px" height="20px">
            <use xlink:href="sprite.svg#mail"></use>
          </svg>
          <span>{contact.email}</span>
        </div>
        <div class="socialMedia">
          <SocialMedia />
        </div>
      </div>

      <Navigation direction="column" />
    </div>
  </div>
</footer>

<style>
  .footer {
    max-width: 1440px;
    margin: auto;
    position: relative;
    background-color: var(--mainDark);
  }

  .footerWrapper {
    max-width: 1300px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .contactsBar {
    display: flex;
    flex-direction: column;
  }

  .phone,
  .email {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    img {
      width: 20px;
    }
    span {
      padding-left: 20px;
    }
  }

  .socialMedia {
    padding-top: 20px;
  }

  .socials {
    display: flex;
  }

  .socialsLink {
    padding-right: 20px;
    img {
      width: 30px;
    }
  }
</style>
