---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
---

<header class="header">
  <div class="headerWrapper wrapper">
    <Logo />
    <div class="headerNav">
      <Navigation direction="row" />
    </div>
  </div>
</header>

<style>
  .header {
    max-width: 1440px;
    margin: auto;
    position: relative;
    background-color: var(--dark);
  }

  .header::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    right: 0;
    bottom: 0;
    background-color: var(--mainDark);
  }

  .headerWrapper {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 88px;
    /* @media screen and (max-width: 650px) {
      width: 87.5%;
    } */
  }

  .headerNav {
    display: flex;
    flex-direction: row;
    z-index: 2;
  }
</style>
