---

---

<section id={"projects"} class="projects">
  <div class="projectsWrapper wrapper">Projects</div>
</section>

<style>
  .projects {
    max-width: 1440px;
    margin: auto;
    background-color: rgba(34, 128, 212, 1);
  }

  .projectsWrapper {
    max-width: 1300px;
    height: 700px;
  }
</style>
